services:
  bookmark-searcher-backend:
    build:
      context: .
      dockerfile: Dockerfile
      target: server
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=bookmark-searcher-postgres
      - DB_PORT=5432
      - DB_NAME=bookmark_searcher_db
      - DB_USER=bookmark_searcher_user
      - DB_PASSWORD=bookmark_searcher_password
    depends_on:
      bookmark-searcher-postgres:
        condition: service_healthy
      bookmark-searcher-migration:
        condition: service_completed_successfully

  bookmark-searcher-migration:
    build:
      context: .
      dockerfile: Dockerfile
      target: migration
    environment:
      - ATLAS_ENV=local
      - DB_HOST=bookmark-searcher-postgres
      - DB_PORT=5432
      - DB_NAME=bookmark_searcher_db
      - DB_USER=bookmark_searcher_user
      - DB_PASSWORD=bookmark_searcher_password
      - ATLAS_DEV_IMAGE=bookmark-searcher-postgres:latest
    volumes:
      - ./app/db/schema/schema.sql:/app/app/db/schema/schema.sql:ro
      - ./atlas.hcl:/app/atlas.hcl:ro
    depends_on:
      bookmark-searcher-postgres:
        condition: service_healthy

  bookmark-searcher-postgres:
    image: pgvector/pgvector:pg18-trixie
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=bookmark_searcher_db
      - POSTGRES_USER=bookmark_searcher_user
      - POSTGRES_PASSWORD=bookmark_searcher_password
    volumes:
      - bookmark_searcher_data:/var/lib/postgresql
      - ./app/db/schema/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U bookmark_searcher_user -d bookmark_searcher_db",
        ]
      start_period: 30s
      interval: 10s
      timeout: 5s
      retries: 3

volumes:
  bookmark_searcher_data:
